In [1]:
# import library 

import pandas as pd

In [3]:
df = pd.read_csv("weather_data2.csv")
df

        Days Temp WindSpeed  Events
0     Monday  F28   kmph1.5   Sunny
1    Tuesday  F31   kmph2.5  Cloudy
2  Wednesday  C29       3.2  Rainny
3  Thuresday  F26   kmph1.6  Rainny
4     Friday   30       0.4  Cloudy
5   Saturday  F34   kmph2.1   Sunny
6     Sunday  C32       3.4  Rainny

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Days       7 non-null      object
 1   Temp       7 non-null      object
 2   WindSpeed  7 non-null      object
 3   Events     7 non-null      object
dtypes: object(4)
memory usage: 352.0+ bytes

In [ ]:
df1 = df.replace({
    "Temp" :'[a-zA-Z]',
    'WindSpeed' :'[a-zA-Z]'
},"")