In [6]:
# import libraries
# open cmd 
# >>> pip install pandas

import pandas as pd
import numpy as np

In [7]:
# What is dataFrame

# 1 - Dictionary Method

In [8]:
# create Dictionary 

Dictionary = {
    "Days": np.array(['Monday','Tuesday','Wednesday','Thuresday','Friday','Saturday','Sunday']),
    "Temp": np.array([28 , 31 , 29 , 26 , 30 , 34 , 32]),
    "WindSpeed":np.array([1.5 , 2.5 ,3.2 ,1.6 , 0.4 , 2.1 , 3.4]),
    'Events':np.array(["Sunny" , "Cloudy" , "Rainny" ,"Rainny", "Cloudy" ,"Sunny" , "Rainny"])
}
Dictionary

{'Days': array(['Monday', 'Tuesday', 'Wednesday', 'Thuresday', 'Friday',
        'Saturday', 'Sunday'], dtype='<U9'),
 'Temp': array([28, 31, 29, 26, 30, 34, 32]),
 'WindSpeed': array([1.5, 2.5, 3.2, 1.6, 0.4, 2.1, 3.4]),
 'Events': array(['Sunny', 'Cloudy', 'Rainny', 'Rainny', 'Cloudy', 'Sunny', 'Rainny'],
       dtype='<U6')}

In [9]:
# convert dictionary to DataFrame 

df = pd.DataFrame(Dictionary)
df

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

# 2 - List and tuple method

In [11]:
ls = [
    ('Monday' , 28 , 1.5 , 'Sunny'),
    ('Tuesday' , 31 , 2.5 , 'Cloudy'),
    ('Wednesday' , 29 , 3.2 , 'Rainny'),
    ('Thuresday' , 26 , 1.6 , 'Rainny'),
    ('Friday' , 30 , 0.4 , 'Cloudy'),
    ('Saturday' , 34 , 2.1 , 'Sunny'),
    ('Sunday' , 32 , 3.4 , 'Rainny'),
]
ls

[('Monday', 28, 1.5, 'Sunny'),
 ('Tuesday', 31, 2.5, 'Cloudy'),
 ('Wednesday', 29, 3.2, 'Rainny'),
 ('Thuresday', 26, 1.6, 'Rainny'),
 ('Friday', 30, 0.4, 'Cloudy'),
 ('Saturday', 34, 2.1, 'Sunny'),
 ('Sunday', 32, 3.4, 'Rainny')]

In [15]:
# convert list to DataFrame 

df1 = pd.DataFrame(data = ls , columns = ["Days",'Temp','WindSpeed','Events'])
df1

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

# 3 - List and Dictionary method

In [17]:
# create list with Nested Dictionary

ls1 = [
    {"Days":"Monday" , "Temp":28 , "WindSpeed":1.5 , 'Events':'Sunny'},
    {"Days":"Tuesday" , "Temp":31 , "WindSpeed":2.5 , 'Events':'Cloudy'},
    {"Days":"Wednesday" , "Temp":29 , "WindSpeed":3.2 , 'Events':'Rainny'},
    {"Days":"Thuresday" , "Temp":26 , "WindSpeed":1.6 , 'Events':'Rainny'},
    {"Days":"Friday" , "Temp":30 , "WindSpeed":0.4 , 'Events':'Cloudy'},
    {"Days":"Saturday" , "Temp":34 , "WindSpeed":2.1 , 'Events':'Rainny'},
    {"Days":"Sunday" , "Temp":32 , "WindSpeed":3.4 , 'Events':'Sunny'},
]
ls1

[{'Days': 'Monday', 'Temp': 28, 'WindSpeed': 1.5, 'Events': 'Sunny'},
 {'Days': 'Tuesday', 'Temp': 31, 'WindSpeed': 2.5, 'Events': 'Cloudy'},
 {'Days': 'Wednesday', 'Temp': 29, 'WindSpeed': 3.2, 'Events': 'Rainny'},
 {'Days': 'Thuresday', 'Temp': 26, 'WindSpeed': 1.6, 'Events': 'Rainny'},
 {'Days': 'Friday', 'Temp': 30, 'WindSpeed': 0.4, 'Events': 'Cloudy'},
 {'Days': 'Saturday', 'Temp': 34, 'WindSpeed': 2.1, 'Events': 'Rainny'},
 {'Days': 'Sunday', 'Temp': 32, 'WindSpeed': 3.4, 'Events': 'Sunny'}]

In [19]:
# convert list to DataFrame 

df2 = pd.DataFrame(ls1)
df2

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1  Rainny
6     Sunday    32        3.4   Sunny

# 4 - Export the dataframe to csv file

In [21]:
df.to_csv('weather_data.csv' , index = False)

# 5 -  create dataFrame using csv file

In [22]:
# create dataframe using csv file 

# when jupyter file and csv file in same path

df3 = pd.read_csv('weather_data.csv')
df3

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

In [23]:
# when jupyter file and csv file in different path

df4 = pd.read_csv(r'C:\Users\Ultron\Desktop\1 to 3  ML\2 - Preprocessing\3 - pandas\1 - Different ways To create DataFrame\weather_data.csv')
df4

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny