In [1]:
# import libraries

import pandas as pd 
import numpy as np

In [2]:
# import data 

df = pd.read_csv('weather_data.csv')
df

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

In [3]:
# dtype of dataframe 

type(df)

pandas.core.frame.DataFrame

In [4]:
# check shape of the df

df.shape

(7, 4)

# 1 - Columns operations

In [5]:
# check columns name

col = df.columns
col

Index(['Days', 'Temp', 'WindSpeed', 'Events'], dtype='object')

In [6]:
# extract  single columns from dataframe 

temp_col_1 = df['Temp']

temp_col_1

0    28
1    31
2    29
3    26
4    30
5    34
6    32
Name: Temp, dtype: int64

In [7]:
type(temp_col_1)

pandas.core.series.Series

In [8]:

temp_col_1 = df['Temp'].values

temp_col_1

array([28, 31, 29, 26, 30, 34, 32], dtype=int64)

In [9]:
type(temp_col_1)

numpy.ndarray

In [10]:
temp_col_1.mean()

30.0

In [11]:
# extract  single columns from dataframe 

temp_col_2 = df.Temp
temp_col_2

0    28
1    31
2    29
3    26
4    30
5    34
6    32
Name: Temp, dtype: int64

In [12]:
type(temp_col_2)

pandas.core.series.Series

In [13]:

temp_col_2 = df.Temp.values
temp_col_2

array([28, 31, 29, 26, 30, 34, 32], dtype=int64)

In [14]:
type(temp_col_2)

numpy.ndarray

In [15]:
# Extract multiple columns 

df

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

In [16]:
multi_col = df[['Days','WindSpeed']]
multi_col

        Days  WindSpeed
0     Monday        1.5
1    Tuesday        2.5
2  Wednesday        3.2
3  Thuresday        1.6
4     Friday        0.4
5   Saturday        2.1
6     Sunday        3.4

In [17]:
type(multi_col)

pandas.core.frame.DataFrame

In [18]:
# extract only columns value 

multi_col = df[['Days','WindSpeed']].values
multi_col

array([['Monday', 1.5],
       ['Tuesday', 2.5],
       ['Wednesday', 3.2],
       ['Thuresday', 1.6],
       ['Friday', 0.4],
       ['Saturday', 2.1],
       ['Sunday', 3.4]], dtype=object)

# Rows Operations

In [19]:
# dataframe 

df

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

In [20]:
# to extract starting rows only 

df.head() # by default 5 rows

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy

In [21]:
df.head(2)

      Days  Temp  WindSpeed  Events
0   Monday    28        1.5   Sunny
1  Tuesday    31        2.5  Cloudy

In [22]:
# extract last rows 

df.tail()  # by default returns last 5 rows

        Days  Temp  WindSpeed  Events
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

In [23]:
df.tail(2)

       Days  Temp  WindSpeed  Events
5  Saturday    34        2.1   Sunny
6    Sunday    32        3.4  Rainny

In [24]:
# dataframe 
df

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

In [25]:
# extract customize rows 

df[1 :6 ]   # [strting : ending ]

        Days  Temp  WindSpeed  Events
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny

# 3 - index Operations

In [26]:
# dataframs
df

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

In [27]:
# index info 

df.index

RangeIndex(start=0, stop=7, step=1)

In [28]:
# change index

df.set_index('Days' , inplace = True)

In [29]:
df

           Temp  WindSpeed  Events
Days
Monday       28        1.5   Sunny
Tuesday      31        2.5  Cloudy
Wednesday    29        3.2  Rainny
Thuresday    26        1.6  Rainny
Friday       30        0.4  Cloudy
Saturday     34        2.1   Sunny
Sunday       32        3.4  Rainny

In [30]:
df.columns

Index(['Temp', 'WindSpeed', 'Events'], dtype='object')

In [31]:
df.index

Index(['Monday', 'Tuesday', 'Wednesday', 'Thuresday', 'Friday', 'Saturday',
       'Sunday'],
      dtype='object', name='Days')

In [32]:
# reset index 

df.reset_index(inplace = True)

In [33]:
df

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

# iloc

In [34]:
# dataframe

In [35]:
df

        Days  Temp  WindSpeed  Events
0     Monday    28        1.5   Sunny
1    Tuesday    31        2.5  Cloudy
2  Wednesday    29        3.2  Rainny
3  Thuresday    26        1.6  Rainny
4     Friday    30        0.4  Cloudy
5   Saturday    34        2.1   Sunny
6     Sunday    32        3.4  Rainny

In [37]:
# iloc[]
#[rows , columns]

#[ starting for rows: ending for rows, starting for col : ending for column]

df.iloc[1:6, 1 :3]

   Temp  WindSpeed
1    31        2.5
2    29        3.2
3    26        1.6
4    30        0.4
5    34        2.1